@charset "UTF-8";

/*
 * html5quickstart v0.9.0
 * by @nearengine
 *
 * http://nearengine.com
 *
 * github: https://github.com/nearengine/html5quickstart
 */


/* Master Reset
--------------------------------------------- */

/* Responsive Resets */

	/* IE10 on Win8 tablet media query support */
	@-ms-viewport {
		width: device-width;
	}

	/* Opera and Opera Mobile */
	@-o-viewport {
		width: device-width;
	}
	
	/* Standard */
	@viewport {
		width: device-width;
	}
	
/* Adapted from Eric Meyer's Reset CSS v2.0 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Hide "glow" effect on focus */
:focus { outline: 0; }


/* Main Styles
--------------------------------------------- */

html {
	font-size: 16px;
	overflow-y: auto;
	/* uncomment to fix webkit font rendering on dark sites
	-webkit-font-smoothing: antialiased;
	*/
}

strong {
	font-weight: bold;
}

a {
	/* some styles can default links to insertion cursor */
	cursor: pointer;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img {
	/* fix downsampled images in older IEs */
	-ms-interpolation-mode: bicubic; 
}

hr {
	display: none;
}

img,
embed,
object,
video {
	max-width: 100%;
}

textarea {
	resize: vertical;
}

::-moz-selection {
	/* change for custom selection colors */
}

::selection {
	/* change for custom selection colors */
}

/* Utility Classes
--------------------------------------------- */

/* clearfix for floats */
.clearfix,
.row,
.col,
.group {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.col:before,
.col:after,
.group:before,
.group:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after,
.row:after,
.col:after,
.group:after {
	clear: both;
}

/* Hide from screenreaders and browsers */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* Hide from screenreaders and browsers and maintain layout */
.invisible {
	visibility: hidden;
}

/* Hide from browsers but NOT screenreaders */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* 12 Column Responsive Grid System 
   adapted from http://responsive.gs
--------------------------------------------- */

/* Set all elements box-sizing to border-box
   for adding additional padding to elements.
   If you need support for IE7 and lower use polyfill: 
   https://github.com/Schepp/box-sizing-polyfill */
* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* This is the maximum width for the entire site */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.container { 
	margin: 0 auto;
}

.col { 
	display: block;
	float: left;
	width: 100%;
}

/* Reset margins */
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/* Page Structure
--------------------------------------------- */

/* Insert various element styles here */


/* Responsiveness
--------------------------------------------- */

/* Example breakpoints: 320, 480, 600, 768, 1024, 1200 */

@media screen and (min-width: 768px) {

	/* Responsive grid */
	.col { margin-left: 2%; clear: right; }
	
	.span_1 { width: 6.5%; }
	.span_2 { width: 15.0%; }
	.span_3 { width: 23.5%; }
	.span_4 { width: 32.0%; }
	.span_5 { width: 40.5%; }
	.span_6 { width: 49.0%; }
	.span_7 { width: 57.5%; }
	.span_8 { width: 66.0%; }
	.span_9 { width: 74.5%; }
	.span_10 { width: 83.0%; }
	.span_11 { width: 91.5%; }
	.span_12 { width: 100%; }
	
	.col.offset_1 { margin-left: 8.5%; }
	.col.offset_2 { margin-left: 17%; }
	.col.offset_3 { margin-left: 25.5%; }
	.col.offset_4 { margin-left: 34%; }
	.col.offset_5 { margin-left: 42.5%; }
	.col.offset_6 { margin-left: 51%; }
	.col.offset_7 { margin-left: 59.5%; }
	.col.offset_8 { margin-left: 68%; }
	.col.offset_9 { margin-left: 76.5%; }
	.col.offset_10 { margin-left: 84%; }
	.col.offset_11 { margin-left: 93.5%; }
	.col.offset_12 { margin-left: 102%; }
	
	/* Other styles */
	
}


/* Retina Graphics
--------------------------------------------- */

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
*/