@charset "UTF-8";
/* ---------------------------------------------
	0. MASTER RESET
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
:focus {
  outline: 0;
}
/* ---------------------------------------------
	1. MAIN STYLES
--------------------------------------------- */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  *zoom: 1;
}
body:before,
body:after {
  display: table;
  line-height: 0;
  content: "";
}
body:after {
  clear: both;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #0066cc;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0066cc;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
hr {
  border: 0;
  display: none;
}
::selection {
  text-shadow: none;
  background: #0066cc;
  color: #fff;
}
::-moz-selection {
  text-shadow: none;
  background: #0066cc;
  color: #fff;
}
ul,
ol {
  list-style-position: inside;
}
b,
strong {
  font-weight: bold;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Menlo", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
code {
  font-family: "Menlo", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img,
embed,
object,
video {
  max-width: 100%;
}
textarea {
  resize: vertical;
}
/* ---------------------------------------------
	2. PAGE DESIGN
--------------------------------------------- */
.wrapper {
  *zoom: 1;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
}
.wrapper:before,
.wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}
.wrapper:after {
  clear: both;
}
.wrapper {
  background: #333;
}
.wrapper header {
  padding: 1em;
  color: #999;
  text-align: center;
}
.wrapper section {
  background: #999;
  padding: 1em;
}
.wrapper footer {
  padding: 1em;
  background: #999;
  text-align: center;
}
.wrapper section,
.wrapper footer {
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.wrapper section:hover,
.wrapper footer:hover {
  background: #fff;
}
@media screen and (min-width: 48em) {
  .wrapper section {
    display: inline;
    float: left;
    width: 98%;
    margin: 0 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wrapper .row {
    *zoom: 1;
  }
  .wrapper .row:before,
  .wrapper .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .wrapper .row:after {
    clear: both;
  }
  .wrapper .row section {
    display: inline;
    float: left;
    width: 23%;
    margin: 0 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wrapper footer {
    *zoom: 1;
    width: auto;
    margin: 0 1%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .wrapper footer:before,
  .wrapper footer:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .wrapper footer:after {
    clear: both;
  }
}
/* ---------------------------------------------
	3. RESPONSIVENESS
--------------------------------------------- */
/* ---------------------------------------------
	4. RETINA GRAPHICS
--------------------------------------------- */
/* ---------------------------------------------
	00. PRINT OVERRIDES
	   adapted from 
	   https://github.com/h5bp/html5-boilerplate
--------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* Don't show links for images, or javascript/internal links */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
