@charset "UTF-8";
/* ---------------------------------------------
	MASTER RESET
--------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
body {
  line-height: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
ol,
ul {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
blockquote,
q {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\000037}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/reset\.less}line{font-family:\0000317}}
:focus {
  outline: 0;
}
/* ---------------------------------------------
	MAIN STYLES
--------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000331}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000343}}
body {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/grid\.less}line{font-family:\000038}}
body:before,
body:after {
  display: table;
  line-height: 0;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/grid\.less}line{font-family:\0000315}}
body:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000347}}
a {
  cursor: pointer;
  text-decoration: none;
  color: #06c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000352}}
a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000356}}
a:visited {
  text-decoration: inherit;
  color: #06c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000361}}
a:focus {
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000365}}
a:hover,
a:active {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000370}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000378}}
hr {
  border: 0;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000383}}
::selection {
  text-shadow: none;
  background: #06c;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000390}}
::-moz-selection {
  text-shadow: none;
  background: #06c;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\0000397}}
ul,
ol {
  list-style-position: inside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003102}}
b,
strong {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003107}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003113}}
small {
  font-size: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003117}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003125}}
sup {
  top: -0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003129}}
sub {
  bottom: -0.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003133}}
img,
embed,
object,
video {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003140}}
textarea {
  resize: vertical;
}
/* ---------------------------------------------
	PAGE DESIGN
--------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/style\.less}line{font-family:\00003149}}
.wrapper {
  *zoom: 1;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/grid\.less}line{font-family:\000038}}
.wrapper:before,
.wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/grid\.less}line{font-family:\0000315}}
.wrapper:after {
  clear: both;
}
/* ---------------------------------------------
	RESPONSIVENESS
--------------------------------------------- */
/* ---------------------------------------------
	RETINA GRAPHICS
--------------------------------------------- */
/* Print Stylesheet 
   adapted from https://github.com/h5bp/html5-boilerplate
--------------------------------------------- */
@media print {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\000037}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000314}}
  a,
  a:visited {
    text-decoration: underline;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000319}}
  a[href]:after {
    content: " (" attr(href) ")";
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000323}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* Don't show links for images, or javascript/internal links */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000329}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000335}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000341}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000345}}
  tr,
  img {
    page-break-inside: avoid;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000350}}
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000358}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/Dropbox\/Sites\/html5quickstart\/less\/print\.less}line{font-family:\0000365}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
