@charset "UTF-8";

//
// html5quickstart v0.9.0
// by @nearengine
//
// web:    http://nearengine.com
// github: https://github.com/nearengine/html5quickstart
//


// OPTIONAL MIX-INS

@import "grid.less"; // Provides a clearfix .group() and fluid grid .row() and .column()
@import "utility.less"; // Provides accessible hiding/invisibility classes as well as vendor prefixes


// VARIABLES

@color-link: #06c;
@font-stack-monotype: "Menlo", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


//  TABLE OF CONTENTS
//
//   0: Master Reset
//      Your reset of choice in reset.less
//		
//   1: Main Styles
//      Sitewide styles for HTML elements and the like go here
//		
//   2: Page Design
//      Styles for layout elements and individual pages can
//      go here, in addition to .oldie-specific classes.
//
//   3: Responsiveness (Media queries)
//      Place all your media queries here, or import them
//		
//   4: Retina Graphics Overrides
//		
//  00: Print Overrides
//      A print stylesheet based on h5bp found in print.less


@import "reset.less"; // Provides a basic CSS reset optimized for responsive sites


/* ---------------------------------------------
	1. MAIN STYLES
--------------------------------------------- */

html {
	// Fix issues with ems in IE
	font-size: 100%;
	
	// Stop browser from zooming on device orientation change
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	
	// uncomment to fix webkit font rendering on dark sites
	// -webkit-font-smoothing: antialiased;
}

body {
	.group();
}

a {
	cursor: pointer;
	text-decoration: none;
	color: @color-link;
	
	&:visited {
		color: @color-link;
	}

	&:hover {
		text-decoration: underline;
	}
	
	&:focus {
		// Outline while focused for keyboard users
		outline: thin dotted;
	}
	
	&:hover, &:active {
		// No outline if hovered or active while focused
		outline: none;
	}
}

img {
	// Stop IE6-9, FF3 from placing border around img in links
	border: 0;
	
	// fix downsampled images in older IEs
	-ms-interpolation-mode: bicubic; 
}

hr {
	border: 0;
	// Add height and border below if necessary
	display: none;
}

::selection {
	text-shadow: none;
	// customize selection colors
	background: @color-link;
	color: #fff;
}

::-moz-selection {
	text-shadow: none;
	// customize selection colors
	background: @color-link;
	color: #fff;
}

ul, 
ol { 
	list-style-position: inside; 
}

b,
strong {
	font-weight: bold;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: @font-stack-monotype;
}

code {
	font-family: @font-stack-monotype;
}

small {
	font-size: 80%; 
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img,
embed,
object,
video {
	max-width: 100%;
}

textarea {
	// Stops users from breaking layout by horizontally expanding textareas in webkit
	resize: vertical;
}


/* ---------------------------------------------
	2. PAGE DESIGN
--------------------------------------------- */

.wrapper {
	.group();
	max-width: 75em; // This is the maximum width for the entire site
	margin: 0 auto;
	position: relative;
}


/* ---------------------------------------------
	3. RESPONSIVENESS
--------------------------------------------- */

// Example breakpoints: 320px/20em, 480px/30em, 600px/37.5em, 768px/48em, 1024px/64em, 1200px/75em

// @media screen and (min-width: 48em) {}


/* ---------------------------------------------
	4. RETINA GRAPHICS
--------------------------------------------- */

// @media only screen and (-webkit-min-device-pixel-ratio: 2) {}


@import 'print.less'; // Provides some overrides for a better print layout
