// VENDOR PREFIX HELPERS

.border-radius (@radius:0) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

.border-radius (@top-left-radius:0, @top-right-radius:0, @bottom-right-radius:0, @bottom-left-radius:0) {
    -webkit-border-radius: @arguments;
       -moz-border-radius: @arguments;
            border-radius: @arguments;
}

.box-shadow (@x:0, @y:0.1em, @feather:0.1em, @color:#000000) {
   	   -webkit-box-shadow: @x @y @feather @color;
	      -moz-box-shadow: @x @y @feather @color;
	           box-shadow: @x @y @feather @color;
}

.gradient(@start-color:#ffffff, @end-color:#000000) {
	background: ((@start-color + @end-color) / 2); // Average both colors as fallback for browsers that don't support gradients
	background: -webkit-gradient(linear, left top, left bottom, from(@start-color), to(@end-color)); // Webkit
	background: -moz-linear-gradient(@start-color, @end-color); // Firefox
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start-color, @end-color)); // IE6-7
	-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start-color, @end-color); // IE8
	background-image: linear-gradient(@start-color, @end-color);
	zoom: 1; // Trigger hasLayout in IE6-7
}

.opacity(@opacity:100) {
	opacity: @opacity;
	filter: alpha%("(opacity = %d)",@opacity); // IE6+
	zoom: 1; // Trigger hasLayout in IE6-7
}

.box-sizing(@sizing:border-box) {
	-webkit-box-sizing: @sizing;
	   -moz-box-sizing: @sizing;
	        box-sizing: @sizing;
}

.transition(@element:all,@time:1s,@style:ease) {	
	-webkit-transition: @arguments;
	   -moz-transition: @arguments;
	    -ms-transition: @arguments;
	     -o-transition: @arguments;
	        transition: @arguments;
}


// UTILITY CLASSES

// Hide from screenreaders and browsers
.hidden() {
	display: none !important;
	visibility: hidden;
}

// Hide from screenreaders and browsers and maintain layout
.invisible() {
	visibility: hidden;
}

// Hide from browsers but NOT screenreaders
.visuallyhidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}